@CHARSET "UTF-8";
html, body {
    height: 96%;
}

#content {
    padding-top: 20px;
    padding-bottom: 60px;
}

td {
    padding: 10px;
}

#balance_info {
    width: auto !important;
    border: 5px solid #B6C7DB !important;
    background-color: #EBF0F3 !important;
    padding: 5px !important;
    margin: 10px 0;
    position: relative !important;
    display: block !important;
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -khtml-border-radius: 5px !important;
}

.right {
    float: right;
}

.balance_block_name {
    float: left;
    font-weight: bold;
}

.balance {
    text-align: right;
    padding-right: 20px;
}

.balance_value {
    font-weight: bold;
    font-size: 18px;
}

span.green {
    color: green;
}

.main-title   h2 {
    color: #006699;
    font: bold 22px Arial, Tahoma, Helvetica, sans-serif;
    margin: 0;
}

#maincontainer {
    min-height: 100%;
    position: relative;
}

footer {
    margin-top: 19px;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
}

footer h4 {
    color: #999
}

footer p {
    color: #999
}

footer a {
    color: #fff
}

footer a:hover {
    color: #fff;
    text-decoration: underline
}

footer #footer-floor {
    background: #1b1b1b
}

footer #footer-floor h3, footer #footer-floor h4 {
    color: #fff
}

footer #footer-floor #elsewhere-msg {
    padding-top: 18px
}

footer #footer-floor #elsewhere-icons {
    padding-top: 13px
}

.foot_info {
    font-size: 11px;
    color: #7B7B7B;
}

/* FORM */

.wellform {
    min-height: 20px;
    padding: 5px 15px 0;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
input[type="text"],select{
    font-size: 20px !important;
    padding: 0 5px !important;
    line-height: 33px !important;
    height: 32px !important;
}
input {
    margin: 0 5px;
}
.btn{
    vertical-align: top !important;
}

/* TYPOGRAFY */
.infoblock {
    padding: 5px 15px 10px;
    margin: 40px 0 20px;
    background-color: #FFE788;
    -webkit-border-radius: 7px;
    border-top-left-radius: 7px 7px;
    border-top-right-radius: 7px 7px;
    border-bottom-right-radius: 7px 7px;
    border-bottom-left-radius: 7px 7px;
}

ul.errors {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

ul.errors li {
    color: #B94A48;
    list-style: none;
}

span.timeago {
    font-size: 12px;
    color: #999;
}