<?php if (isset($this->message)): ?>
<div class="alert alert-<?=key($this->message)?>">
    <a class="close" data-dismiss="alert" href="#">×</a>
    <?=$this->escape(current($this->message))?>
</div>
<?php endif; ?>

<p>Вы можете пополнить лицевой счет используя платежную систему RBK Money <br>
    Введите необходимую сумму и нажмите Оплатить. Вы будете перенаправлены в защищенную зону RBK Money.
</p>
<div class="alert alert-info">
    <i class="icon-info-sign"></i> Ваш баланс составляет - <strong> <?=$this->balance?></strong>
</div>
<p>
    Для быстрой оплаты: "Экспресс оплата", введите свой email адрес (на него придет подтверждение оплаты) и нажмите
    продолжить.
</p>
<p> Оплата банковской картой Visa/MasterCard. <img src="/assets/images/mastercard-visa.png" alt="Visa" title="Visa&Mastercard">
</p>

<div class="row">
    <div class="span5">
        <form action="https://rbkmoney.ru/acceptpurchase.aspx" method="post" class="well">
            <label>Введите сумму:</label>
            <input type="hidden" name="eshopId" value="<?=$this->rbk['eshopId']?>">
            <input type="hidden" name="orderId" value="<?=$this->rbk['orderId']?>">
            <input type="text" name="recipientAmount" value="1000" class="span3">
            <input type="hidden" name="recipientCurrency" value="<?=$this->rbk['recipientCurrency']?>">
            <input type="hidden" name="serviceName" value="<?=$this->rbk['serviceName']?>">
            <label>Введите адрес электронной почты</label>
            <input type="text" name="user_email" value="" class="span3">
            <input type="hidden" name="preference" value="bankCard">
            <input type="hidden" name="successUrl" value="<?=$this->rbk['successUrl']?>">
            <input type="hidden" name="failUrl" value="<?=$this->rbk['failUrl']?>">
            <input type="hidden" name="userField_1" value="<?=$this->identity->basic_account?>">
            <input type="submit" name="button" value="Оплатить" class="btn">
        </form>
    </div>
</div>


<p>Оплата другими доступными методами. Введите сумму: </p>
<div class="row">
    <div class="span5">
        <form action="https://rbkmoney.ru/acceptpurchase.aspx" method="post" class="well">
            <label>Введите сумму:</label>
            <input type="hidden" name="eshopId" value="<?=$this->rbk['eshopId']?>">
            <input type="hidden" name="orderId" value="<?=$this->rbk['orderId']?>">
            <input type="text" name="recipientAmount" value="1000" class="span3">
            <input type="hidden" name="recipientCurrency" value="<?=$this->rbk['recipientCurrency']?>">
            <input type="hidden" name="serviceName" value="<?=$this->rbk['serviceName']?>">
            <input type="hidden" name="successUrl" value="<?=$this->rbk['successUrl']?>">
            <input type="hidden" name="failUrl" value="<?=$this->rbk['failUrl']?>">
            <input type="hidden" name="userField_1" value="<?=$this->identity->basic_account?>">
            <input type="submit" name="button" value="Оплатить" class="btn">
        </form>
    </div>
</div>
<div class="alert alert-block">
    <i class="icon-info-sign"></i> Если Вы не имеете кошелек в платежной системе RBK Money, открыть Вы можете <a
    target="blank" href="https://rbkmoney.ru/register.aspx">здесь</a>
</div>